*{
    background: #333533;
    color: #a2d2ff;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}
img{
    max-width: 400px;
    border-radius: 8px;
}
h1{
    color: #8338ec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: #f15bb5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
strong{
    color: #060;
}
a{
    color: red;
    font-size: 22px;
}
span{
    color: #FFF;
    background-color:#000;
    font-style: italic;
}
